<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcc.highmyopia.mapper.PatientsMapper">
    <select id="selectPatientByPId" resultType="com.zcc.highmyopia.entity.Patients" >
    select * from patients where patients.id = #{id} and patients.status = 1;
</select>

    <update id="updatePatients" parameterType="com.zcc.highmyopia.entity.Patients" >
    update patients
    <set>
        <if test="name != null and name != ''"> name = #{name}, </if>
        <if test="sex != null and sex != ''">sex = #{sex} ,</if>
        <if test="sexName != null and sexName != ''">sexName = #{sexName} ,</if>
        <if test="birthday != null and birthday != '' ">birthday = #{birthday},</if>
        <if test="idNumber != null and idNumber != ''">id_number = #{idNumber},</if>
        <if test="phone != null and phone != ''">phone = #{phone},</if>
        <if test="status != null and status != ''">`status` = #{status},</if>
    </set>
     where id = #{id}
    </update>

    <insert id="batchInsert" useGeneratedKeys="false" parameterType="java.util.List">
        <foreach collection="list" item="item" separator=",">
        insert into patients
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="item.id != null and item.id != ''"> id, </if>
            <if test="item.name != null and item.name != ''"> `name`, </if>
            <if test="item.sex != null and item.sex != ''"> sex,</if>
            <if test="item.sexName != null and item.sexName != ''"> sexName,</if>
            <if test="item.birthday != null and item.birthday != '' ">birthday,</if>
            <if test="item.idNumber != null and item.idNumber != ''">id_number,</if>
            <if test="item.phone != null and item.phone != ''">phone,</if>
<!--             <if test="item.status != null and item.status != ''">`status`,</if>-->
        </trim>
        VALUES
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="item.id != null and item.id != ''"> id = #{item.id}, </if>
                <if test="item.name != null and item.name != ''"> `name` = #{item.name}, </if>
                <if test="item.sex != null and item.sex != ''">sex = #{item.sex} ,</if>
                <if test="item.sexName != null and item.sexName != ''">sexName = #{item.sexName} ,</if>
                <if test="item.birthday != null and item.birthday != '' ">birthday = #{item.birthday},</if>
                <if test="item.idNumber != null and item.idNumber != ''">id_number = #{item.idNumber},</if>
                <if test="item.phone != null and item.phone != ''">phone = #{item.phone},</if>
<!--               <if test="item.status != null and item.status != ''">`status` = #{item.status},</if>-->
            </trim>
        </foreach>
    </insert>
</mapper>
